Node-red/dashboard.json
[
    {
        "id": "deb26df3e1c6a6fc",
        "type": "tab",
        "label": "Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "15f7956bcac06ed8",
        "type": "mqtt in",
        "z": "deb26df3e1c6a6fc",
        "name": "",
        "topic": "/Temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "434422b9223e942f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "2dbcdf27ef28c203",
                "9e4e11fba54228bd",
                "d53c11f9bdbd1b51"
            ]
        ]
    },
    {
        "id": "2dbcdf27ef28c203",
        "type": "ui_text",
        "z": "deb26df3e1c6a6fc",
        "group": "1ad4bc2763bbf6d9",
        "order": 7,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 230,
        "y": 100,
        "wires": []
    },
    {
        "id": "1e1603c5ba484985",
        "type": "mqtt in",
        "z": "deb26df3e1c6a6fc",
        "name": "",
        "topic": "/Distancia",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "434422b9223e942f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "9e4e11fba54228bd",
                "7aa066fd8bd4b5a4"
            ]
        ]
    },
    {
        "id": "0460ef345161ef16",
        "type": "mqtt in",
        "z": "deb26df3e1c6a6fc",
        "name": "",
        "topic": "/Umidade",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "434422b9223e942f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "9e4e11fba54228bd",
                "230cfe808f034857"
            ]
        ]
    },
    {
        "id": "742fb520f698be90",
        "type": "mqtt in",
        "z": "deb26df3e1c6a6fc",
        "name": "",
        "topic": "/Action/alerta",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "434422b9223e942f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "9e4e11fba54228bd",
                "0b4c0489199cc370"
            ]
        ]
    },
    {
        "id": "9e4e11fba54228bd",
        "type": "debug",
        "z": "deb26df3e1c6a6fc",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "8daaf0f6f81058c4",
        "type": "ui_switch",
        "z": "deb26df3e1c6a6fc",
        "name": "",
        "label": "Ligar alerta",
        "tooltip": "",
        "group": "1ad4bc2763bbf6d9",
        "order": 10,
        "width": 10,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "/Botao/alerta",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "c94afdbd3b838f25"
            ]
        ]
    },
    {
        "id": "230cfe808f034857",
        "type": "ui_gauge",
        "z": "deb26df3e1c6a6fc",
        "name": "",
        "group": "1ad4bc2763bbf6d9",
        "order": 17,
        "width": 10,
        "height": 9,
        "gtype": "gage",
        "title": "Umidade (%)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e66100",
            "#f6d32d",
            "#3584e4"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 230,
        "y": 180,
        "wires": []
    },
    {
        "id": "7aa066fd8bd4b5a4",
        "type": "ui_text",
        "z": "deb26df3e1c6a6fc",
        "group": "1ad4bc2763bbf6d9",
        "order": 12,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Distancia",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "0b4c0489199cc370",
        "type": "ui_text",
        "z": "deb26df3e1c6a6fc",
        "group": "1ad4bc2763bbf6d9",
        "order": 5,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 210,
        "y": 340,
        "wires": []
    },
    {
        "id": "d53c11f9bdbd1b51",
        "type": "ui_chart",
        "z": "deb26df3e1c6a6fc",
        "name": "",
        "group": "1ad4bc2763bbf6d9",
        "order": 15,
        "width": 10,
        "height": 9,
        "label": "Temperatura / Tempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "80",
        "removeOlder": "5",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c94afdbd3b838f25",
        "type": "mqtt out",
        "z": "deb26df3e1c6a6fc",
        "name": "",
        "topic": "/Botao/alerta",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "434422b9223e942f",
        "x": 430,
        "y": 500,
        "wires": []
    },
    {
        "id": "c59929b81ef7f734",
        "type": "mqtt in",
        "z": "deb26df3e1c6a6fc",
        "name": "",
        "topic": "/Mensagem/alerta",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "434422b9223e942f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "b579cc57e923670e",
                "9e4e11fba54228bd"
            ]
        ]
    },
    {
        "id": "b579cc57e923670e",
        "type": "ui_text",
        "z": "deb26df3e1c6a6fc",
        "group": "1ad4bc2763bbf6d9",
        "order": 2,
        "width": 22,
        "height": 1,
        "name": "",
        "label": "Situacao: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 220,
        "y": 420,
        "wires": []
    },
    {
        "id": "0af04e1ca419dedd",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 1,
        "width": 4,
        "height": 1
    },
    {
        "id": "b30933401d7bd0d0",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "e20a5aa61e864e10",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "0b2dcb12eb4f7fc2",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "adbce20536365097",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "b108c653819a1e87",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "42c9d112f31ad8f8",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "3155e49935a128e9",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 13,
        "width": 4,
        "height": 1
    },
    {
        "id": "a133684096c0a64c",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "1888b7f664c0f369",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "a118ec0005315375",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "1c7c3669959a212f",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 19,
        "width": 4,
        "height": 1
    },
    {
        "id": "4df84bbe6f2cbc21",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "bc6b058e4631d978",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 21,
        "width": 4,
        "height": 1
    },
    {
        "id": "69a95687f1134e74",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 22,
        "width": 4,
        "height": 1
    },
    {
        "id": "214fdc6bc9c9c2d1",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "a159613bbb1cd80f",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 24,
        "width": 4,
        "height": 1
    },
    {
        "id": "85c675423bcce86b",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 25,
        "width": 4,
        "height": 1
    },
    {
        "id": "3f042cde79e63296",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "e4305230db87666f",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 27,
        "width": 4,
        "height": 1
    },
    {
        "id": "7bb7bc650cf09c1e",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 28,
        "width": 4,
        "height": 1
    },
    {
        "id": "4f7682bc81cec5c1",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "195466ce9f89e66f",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 30,
        "width": 4,
        "height": 1
    },
    {
        "id": "6d2ed57b3cd89072",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 31,
        "width": 4,
        "height": 1
    },
    {
        "id": "a4365ed2eace101c",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "55363fbd2ede51e0",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 33,
        "width": 4,
        "height": 1
    },
    {
        "id": "cf35725f33f30d0b",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 34,
        "width": 4,
        "height": 1
    },
    {
        "id": "94985e51a3568ccb",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 35,
        "width": 2,
        "height": 1
    },
    {
        "id": "edbde2f6f3fc3107",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 36,
        "width": 4,
        "height": 1
    },
    {
        "id": "b3c62742367fd10f",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 37,
        "width": 4,
        "height": 1
    },
    {
        "id": "9f95d2bc939a3a10",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 38,
        "width": 2,
        "height": 1
    },
    {
        "id": "0d33c5980f0d3002",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 39,
        "width": 4,
        "height": 1
    },
    {
        "id": "c5849e2062c297fb",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 40,
        "width": 4,
        "height": 1
    },
    {
        "id": "7ec98f4543098d20",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 41,
        "width": 2,
        "height": 1
    },
    {
        "id": "90730db25e32044a",
        "type": "ui_spacer",
        "z": "deb26df3e1c6a6fc",
        "name": "spacer",
        "group": "1ad4bc2763bbf6d9",
        "order": 42,
        "width": 4,
        "height": 1
    },
    {
        "id": "434422b9223e942f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1ad4bc2763bbf6d9",
        "type": "ui_group",
        "name": "Flood Prevention",
        "tab": "a92ae56b464b148e",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a92ae56b464b148e",
        "type": "ui_tab",
        "name": "Dashboard | Flood Prevention",
        "icon": "fa-fire",
        "disabled": false,
        "hidden": false
    }
]